# Ignore virtual environment directory
venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore database files
*.db

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore compiled files
*.o
*.so
*.out

# Ignore IDE-specific files
.vscode/
.idea/


